.card-container{
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    justify-content: center;
}

.card-container li{
    list-style: none;
}
.card-container li img{
    width: 100px;
}
.card-container li img:hover{
    box-shadow: 2px 5px 5px white;
    cursor: pointer;
}